* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./vecteezy_superbowl-football-field-background_.jpg);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.container {

    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 1rem;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 5px 5px 10px black,
        -5px -5px 10px black;
}

h1 {
    font-family: 'Rubik Dirt', cursive;
}

button {
    min-width: 5rem;
}

#count-el {
    font-size: 3rem;
    margin: 1rem;
}

.add-people {
    background: #3B999B;
    padding: 0.5rem;
    border-radius: 1rem;
    margin: 0.5rem;
    font-weight: bold;

}

.remove-people {
    background: #EE5873;
    padding: 0.5rem;
    border-radius: 1rem;
    margin: 0.5rem;
    font-weight: bold;
    color: #E3E4E6;

}

#save-btn {
    background: #5778A3;
    padding: 0.5rem;
    border-radius: 1rem;
    margin: 0.5rem;
    font-weight: bold;
    color: black;
}

button:hover {
    cursor: pointer;
}

.add-people:hover {
    background: darkgreen;
    color: #E3E4E6;
}

.remove-people:hover {
    background: lightcoral;
    color: black;
}

#save-btn:hover {
    background: darkblue;
    color: #E3E4E6;
}

#saved-results {
    color: #E3E4E6;
    font-weight: lighter;
    font-size: small;
    color: gray;
}